:root {
    --Dashboard_Background_Color: #EAF1FF;
    --Dark_Dashboard_Background_Color: #1B1F40;
    --Blue_Color: #754BE5;
    --White_Blue_Color: #ECF2FF;
    --Orange_Color: #F07D13;

    --Project_Box_Shadow: 0px 0px 25px 5px rgba(224, 235, 255, 0.75);
}




/* 
+   ---- Dashboard_Page_Section ----
*/

.Dashboard_Page_Section {
    position: relative;
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-color: var(--Dashboard_Background_Color);
    transition: 250ms ease-in-out backgroun d-color;
}


/* 
+   ---- Dashboard_Side_Bar ----
*/


.Dashboard_Side_Bar {
    min-width: 90px;
    background-color: var(--Dashboard_Background_Color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /* padding-bottom: 25px; */
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.1);
}


.Side_Bar_Links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-top: 5rem;
    font-size: 1.5rem;
}


.Side_Bar_Nav_Link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 
        200ms ease-in-out background-color, 
        200ms ease-in-out color,
        200ms ease-in-out box-shadow
    ;
}


.Side_Bar_Nav_Link:hover {
    background-color: white;
    color: var(--Blue_Color);
    /* box-shadow: 0 0 5px rgb(117, 75, 229, 0.3); */
}


/* ---- Main_Dashboard ----  */


.Main_Dashboard {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 2rem 20px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* ---- Dashboard_Header ---- */

.Dashboard_Header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}


.Link_Btn {
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}


.Dashboard_Header article {
    max-width: 280px;
    min-height: 40px;
    max-height: 40px;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 250ms ease-in-out width, 250ms ease-in-out max-width;
}


.Search_Icon_Container {
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.Main_Dashboard article .Search_Icon {
    color: black; 
}

.Dashboard_Header article input[type="text"] { 
    width: 100%;
    height: 40px;
    color: rgba(0, 0, 0, 0.8);
    padding-right: 15px;
    border-radius: 50px;
    outline: none;
    border: none;
}



/* ---- Dashboard_Content ---- */


.Dashboard_Content {
    position: relative;
    width: 100%;
    height: 100%;
} 


.Projects_Container {
    width: 100%;
    max-height: 620px;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
}


.Projects_Container::-webkit-scrollbar {
    display: none;
}


.Projects {
    background: #FFFFFF;
    list-style: none;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
}


.Each_Project {
    height: 165px;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 25px 5px rgba(224, 235, 255, 0.75);
    transition: 200ms ease-in-out box-shadow, 200ms ease-in-out border;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.Each_Project:hover {
    box-shadow: 0px 4px 25px 5px rgba(137, 43, 226, 0.3);
}


.Project_Header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.Source_Code {
    font-size: 20px;
    color: black;
}


.Each_Project .Description {
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 600;
    overflow-y: scroll;
}


.Each_Project .Description::-webkit-scrollbar {
    display: none;
}


.Project_Header .Titles {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    color: var(--Blue_Color);
    padding: 7px 23px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    background-color: var(--White_Blue_Color);

}