:root {
    --Font_Open_Sans: 'Open Sans', sans-serif;
    --Font_Merienda_One: 'Merienda One', cursive;

    --Chart_Background_Color: #EAF1FF;
    --Dark_Chart_Background_Color: #12121B;
    --Chart_Stroke: rgba(81, 79, 99, 0.2);

    --About_Page_Background_Color: linear-gradient(60.91deg, #181F2C 0%, #12121A 100%);

    --Title_Text_Size: 35px;
    --About_Text_Size: 16px;
    --Mobile_Title_Text_Size: 25px;
    --Mobile_About_Text_Size: 14px;


    --Green_Color: #98D4FF;
    --Works_Contacts_Page_Background_Color: #181F2C;
    --Works_Page_Field_Boxes_Color: rgb(152, 212, 255, 0.1);

    --Works_Page_Field_Boxes_Color_Hover: rgb(152, 212, 255);
    --Works_Page_Field_Texts_Hover: #1E1E1E;
    --Works_Page_Field_Box_Shadow_Hover: 0px 0px 30px 5px #98D4FF;

    --Skill_Page_Contacts_Box_Background_color: #12121A;
}






/* 
+ ------------ About_Page ------------
*/


.About_Page_Section {
    position: relative;
    background-image: var(--About_Page_Background_Color);
    width: 100vw;
    height: 100vh;
    min-height: 745px;
    max-height: 745px;
    overflow: hidden;
}

/* 
+ ------------ About_Page ------------ Grid_Content --------------
*/


.About_Page_Grid_Content {
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}


@media (width <= 1100px) {
    .About_Page_Grid_Content {
        grid-template-columns: auto;
    }
}


/* 
+ ------------ About_Page ------------ Left_Side --------------
*/


.About_Page_Left_Side {
    position: relative;
    width: 100%;
    height: 100%;
    /* padding: 0 1rem; */
}


.About_Page_Robot {
    height: 550px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (width <= 1100px) {
    .About_Page_Left_Side { display: none; }
}



/* 
+ ------------ About_Page ------------ Right_Side --------------
*/


.About_Page_Right_Side {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 20px;
}


@media (width <= 1100px) {
    .About_Page_Right_Side { 
        padding-inline-start: 5rem;
        padding-inline-end: 5rem;
    }
}


@media (width <= 940px) {
    .About_Page_Right_Side { 
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
}


.About_Title_Headline {
    position: relative;
    margin-block-start: 5rem;
    padding-inline-start: 3.5rem;
    font-size: var(--Title_Text_Size);
    font-weight: bold;
    color: var(--Green_Color);
}


.About_Title_Headline::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 35px;
    background-color: var(--Green_Color);
}


.About_Page_Right_Side div:nth-child(2) {
    font-size: var(--About_Text_Size);
    line-height: 35px;
    max-width: 750px;
    /* text-transform: capitalize; */
    color: var(--Green_Color);
}


.About_Page_Right_Side div:nth-child(2) span { font-weight: bold; }


.SVG_Chart_Container {
    position: relative;
    display: flex;
    background-color: var(--Dark_Chart_Background_Color);
    max-width: max-content;
    padding: 15px 0 15px 15px;
    border: 1px solid var(--Green_Color);
    border-radius: 7px;
}


#Dark_Chart, #Chart {
    width: 100%;
    stroke: var(--Chart_Stroke);
}


@media (width <= 650px) {
    .About_Title_Headline {
        font-size: var(--Mobile_Title_Text_Size);
    }

    .About_Title_Headline::before {
        width: 30px;
    }

    .About_Page_Right_Side div:nth-child(2) {
        font-size: var(--Mobile_About_Text_Size);
    }

    .SVG_Chart_Container { 
        display: none;
    }
}


/* 
+ ---------- Works_Page_Section ----------  
*/

.Works_Page_Section, .Skill_Page_Section {
    position: relative;
    background-color: var(--Works_Contacts_Page_Background_Color);
    width: 100vw;
    /* height: 100vh; */
    min-height: 745px;
    padding-bottom: 4rem;

    /* height: max-content; */
    /* height: 100vh; */
    /* max-height: 745px; */
}

/* 
@media(width <= 940px) {
    .Works_Page_Section {
        max-height: none;
        padding-bottom: 4rem;
        height: max-content;
    }
} 
*/


/* 
+ ---------- Skills_Page_Section ----------
*/


.Skill_Page_Section {
    background-color: var(--Skill_Page_Contacts_Box_Background_color);
}



/* 
+ ---------- Works_Experience ---------- Skills_Box ---------- Contents
*/

.Works_Experience, .Skills_Box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin-inline-start: auto;
    margin-inline-end: auto;

}


.Expertise_Lorem_Texts_Headline, .Skill_Lorem_Texts_Headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 6rem;
    /* border: 2px solid red; */
}


.Expertise_Lorem_Texts_Headline p:nth-child(1), 
.Skill_Lorem_Texts_Headline p:nth-child(1)
{
    font-size: 35px;
    color: var(--Green_Color);
    font-style: italic;
    font-weight: bold;
}


.Expertise_Lorem_Texts_Headline p:nth-child(2),
.Skill_Lorem_Texts_Headline p:nth-child(2) 
{
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    color: var(--Green_Color);
    max-width: 490px;
    text-align: center;
}


.Experience_Field_Container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
    margin-top: 5rem;
    padding: 0 20px;
}


@media(width <= 940px) {
    .Experience_Field_Container {
        grid-template-columns: 1fr 1fr;
    }
}


@media(width <= 600px) {
    .Experience_Field_Container {
        grid-template-columns: 1fr;
    }
}


.Experience_Field {
    background-color: var(--Works_Page_Field_Boxes_Color);
    max-width: 400px;
    max-height: 300px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: 200ms ease-in-out background-color, 200ms ease-in-out box-shadow;
    border: 1px solid var(--Green_Color);
}


.Experience_Field:hover {
    background-color: var(--Works_Page_Field_Boxes_Color_Hover);
    box-shadow: var(--Works_Page_Field_Box_Shadow_Hover);
}


.Headline_Of_Experience_Field p:nth-child(2) {
    font-size: 20px;    
    font-weight: bold;
}


.Flash_Icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
}


.Field_Texts {
    color: var(--Green_Color);
    height: 100%;
    font-weight: 600;
    /* font-family: sans-serif; */
    font-size: 13px;
    /* line-height: 28px; */
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    transition: 200ms ease-in-out color;
    overflow-y: scroll;
    /* border: 1px solid white; */
}


.Field_Texts::-webkit-scrollbar {
    display: none;
}


.Experience_Field:hover .Field_Texts {
    color: var(--Works_Page_Field_Texts_Hover);
}


/* 
+    -------- Skill_Boxes_Container --------
*/


.Skill_Boxes_Container {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    padding: 10px;
    max-width: 735px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}


.Skill_Box {
    background-color:  rgb(152, 212, 255, 0.2);
    height: 120px;
    text-align: center;
    transition: 200ms ease-in-out background-color, 200ms ease-in-out box-shadow;
    cursor: pointer;
    border: 1px solid var(--Green_Color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.Skill_Box:hover {
    background-color:  rgb(152, 212, 255, 0.5);
    box-shadow: var(--Works_Page_Field_Box_Shadow_Hover);
}




.Skill_Box img {
    /* width: max-content; */
    /* height: 60px; */
    width: 50px;
    height: 50px;
    object-fit: contain;
}


.Skill_Box p {
    /* font-weight: bold; */
    font-size: 14px;
    font-family: sans-serif;
}





/* 
+ ----------- Contacts_Page_Section -----------
*/


.Contacts_Page_Section {
    width: 100vw;
    min-height: 400px;
    background-color: var(--Works_Contacts_Page_Background_Color);
    padding: 3rem 0;
    display: flex;
    align-items: center;
}


.Contacts_Contanier {
    width: 100%; 
    /* background-color: black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.Contacts_Contanier article:nth-child(1) p {
    font-size: 35px;
    color: var(--Green_Color);
    font-style: italic;
    font-weight: bold;
}


.Accounts_Container {
    width: 100%;
    max-width: 735px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

 
.Accounts_Container a {
    height: 120px;
    font-size: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}